---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <div class="min-h-screen flex flex-col">
    <div class="top">
      <Header />
    </div>
    <div class="flex-1">
      <div class="flex justify-center">
        <div class="px-4">
          <div class="card w-96 bg-base-100 shadow-xl">
            <figure>
              <img
                src="/img/preview.png"
                alt="Shoes"
              />
            </figure>
            <div class="card-body">
              <h2 class="card-title">
                Node版
                <div class="badge badge-secondary">
                    <span class="mr-1">¥</span>
                    <span class="mr-1">199</span>
                    <em>&sol;永久</em>
                </div>
              </h2>
              <p>
                <ul>
                  <li>
                    <a href="javascript:void(0);">
                      <span>包含开源版全部功能</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <span>更加强大的表单构建器</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <span>更加强大的可视化大屏设计器</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <span>更加强大的流程设计器</span>
                    </a>
                  </li>
                </ul>
              </p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">即将推出</button>
              </div>
            </div>
          </div>
        </div>
        <div class="px-4">
          <div class="card w-96 bg-base-100 shadow-xl">
            <figure>
              <img
                src="/img/preview.png"
                alt="Shoes"
              />
            </figure>
            <div class="card-body">
              <h2 class="card-title">
                springboot版
                <div class="badge badge-secondary">
                    <span class="mr-1">¥</span>
                    <span class="mr-1">589</span>
                    <em>&sol;永久</em>
                </div>
              </h2>
              <p>
                <ul>
                  <li>
                    <a href="javascript:void(0);">
                      <span>包含开源版全部功能</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <span>更加强大的表单构建器</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <span>更加强大的可视化大屏设计器</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">
                      <span>更加强大的流程设计器</span>
                    </a>
                  </li>
                </ul>
              </p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">敬请期待</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</Layout>
