---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <div class="min-h-screen flex flex-col">
    <div class="top">
      <Header />
    </div>
    <div class="flex-1">
      <section id="hero" class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="hero min-h-[calc(100vh-4rem)]">
              <div class="hero-content flex-col lg:flex-row-reverse">
                <img
                  loading="lazy"
                  src="/img/preview.png"
                  class="lg:max-w-xl rounded-lg shadow-2xl"
                />
                <div>
                  <h1 class="text-3xl lg:text-5xl font-bold">
                    dotfox快速开发平台
                  </h1>
                  <p class="py-6">
                    dotfox是一款精心设计的快速开发平台,全部开源,提供给各位开发者免费使用。帮助各位开发者快速开发和部署项目。开源版不做阉割不恶心人。
                  </p>
                  <div class="flex gap-4">
                    <button
                      class="btn btn-primary"
                      data-link="/"
                      onclick="location=this.getAttribute('data-link')"
                      >开源版</button
                    >
                    <button
                      class="btn btn-secondary"
                      data-link="/"
                      onclick="location=this.getAttribute('data-link')"
                      >了解更多</button
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </section>
      <section
        id="stats"
        class="container py-24 mx-auto flex flex-wrap md:flex-row-reverse"
      >
        <div
          class="flex flex-wrap px-4 mt-auto mb-auto lg:w-2/3 sm:w-1/2 content-start"
        >
          <div class="w-full sm:p-4 px-4 mb-6">
            <h1 class="sm:text-3xl text-2xl font-medium mb-4">
              广受欢迎的产品
            </h1>
            <div class="text-base">
              这些数据彰显了我们产品的受欢迎程度、创新能力和全球影响力，我们以此为基础不断提高用户体验和技术水平，为用户创造更好的产品和服务。
            </div>
          </div>
          <div class="stats stats-vertical lg:stats-horizontal shadow">
            <div class="stat place-items-center">
              <div class="stat-value">500,000+</div>
              <div class="stat-title font-medium">全球用户</div>
              <div class="stat-desc"></div>
            </div>
            <div class="stat place-items-center">
              <div class="stat-value">95%</div>
              <div class="stat-title font-medium">用户满意度</div>
              <div class="stat-desc"></div>
            </div>
            <div class="stat place-items-center">
              <div class="stat-value">100+</div>
              <div class="stat-title font-medium">研发团队规模</div>
              <div class="stat-desc"></div>
            </div>
            <div class="stat place-items-center">
              <div class="stat-value">15+</div>
              <div class="stat-title font-medium">专利数量</div>
              <div class="stat-desc"></div>
            </div>
          </div>
        </div>
        <img
          loading="lazy"
          class="lg:w-1/3 sm:w-1/2 px-4 w-full rounded-lg overflow-hidden mt-6 sm:mt-0 object-cover object-center h-full"
          src="/img/preview.png"
          alt="stats"
        />
      </section>
      <section id="feature" class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1 class="sm:text-3xl text-2xl font-medium mb-4">
            拥抱未来，创新无限
          </h1>
          <p
            class="lg:w-2/3 mx-auto text-base text-base-content/90 whitespace-break-spaces"
          >
            我们的产品创新无限，呈现极致用户体验。全球多平台覆盖，个性化定制，确保数据安全。我们致力于为您打造未知之美，拥抱创新未来。
          </p>
        </div>
        <div
          class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6"
        >
          <div class="p-4 md:w-1/3 flex">
            <div class="btn btn-circle btn-primary">
              <div class="w-6 h-6">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                  ><path
                    fill="currentColor"
                    d="M6.813 2.406L5.405 3.812L7.5 5.906L8.906 4.5L6.812 2.406zm18.375 0L23.093 4.5L24.5 5.906l2.094-2.093l-1.407-1.407zM16 3.03c-.33.004-.664.023-1 .064c-.01 0-.02-.002-.03 0c-4.056.465-7.284 3.742-7.845 7.78c-.448 3.25.892 6.197 3.125 8.095a5.238 5.238 0 0 1 1.75 3.03v6h2.28c.348.597.983 1 1.72 1s1.372-.403 1.72-1H20v-4h.094v-1.188c0-1.466.762-2.944 2-4.093C23.75 17.06 25 14.705 25 12c0-4.94-4.066-9.016-9-8.97zm0 2c3.865-.054 7 3.11 7 6.97c0 2.094-.97 3.938-2.313 5.28l.032.032A7.792 7.792 0 0 0 18.279 22h-4.374c-.22-1.714-.955-3.373-2.344-4.563c-1.767-1.5-2.82-3.76-2.468-6.312c.437-3.15 2.993-5.683 6.125-6.03a6.91 6.91 0 0 1 .78-.064zM2 12v2h3v-2H2zm25 0v2h3v-2h-3zM7.5 20.094l-2.094 2.093l1.407 1.407L8.905 21.5L7.5 20.094zm17 0L23.094 21.5l2.093 2.094l1.407-1.407l-2.094-2.093zM14 24h4v2h-4v-2z"
                  ></path></svg
                >
              </div>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="text-lg title-font font-medium mb-2">创新先导</h2>
              <p class="text-base-content/90">
                我们始终抱持创新理念，不断探索、突破传统，以领先的技术和理念塑造独特产品。
              </p>
              <a
                class="link link-primary link-hover mt-2 inline-flex items-center"
                href=""
                ><span></span>
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-2"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="p-4 md:w-1/3 flex">
            <div class="btn btn-circle btn-primary">
              <div class="w-6 h-6">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"
                  ><path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="4"
                    d="m35.911 41.544l5.37-19A2 2 0 0 0 39.356 20H27.875a1.094 1.094 0 0 1-1.066-1.34l.5-2.164c.458-1.985.605-4.03.436-6.06l-.092-1.103A5.02 5.02 0 0 0 26.2 6.2A4.096 4.096 0 0 0 23.304 5h-.24c-.657 0-1.262.356-1.58.93l-2.659 4.785a12.962 12.962 0 0 1-5.124 5.085l-6.659 3.63A2 2 0 0 0 6 21.188V41a2 2 0 0 0 2 2h25.987a2 2 0 0 0 1.924-1.456Z"
                  ></path></svg
                >
              </div>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="text-lg title-font font-medium mb-2">极致用户体验</h2>
              <p class="text-base-content/90">
                用户体验是我们产品的核心，通过精心设计和不断优化，确保每个用户都能享受到流畅、愉悦的使用体验。
              </p>
              <a
                class="link link-primary link-hover mt-2 inline-flex items-center"
                href=""
                ><span></span>
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-2"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="p-4 md:w-1/3 flex">
            <div class="btn btn-circle btn-primary">
              <div class="w-6 h-6">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  ><path
                    fill="currentColor"
                    d="M13.577 2.38a3 3 0 0 0-2.154 0L7.962 3.71A1.5 1.5 0 0 0 7 5.11v1.101a4.001 4.001 0 0 1 1 0v-1.1a.5.5 0 0 1 .32-.467l3.462-1.331a2 2 0 0 1 1.436 0l3.461 1.331a.5.5 0 0 1 .32.467v7.78a.5.5 0 0 1-.32.466l-2.68 1.031v.503c0 .204-.024.404-.072.596l3.111-1.196a1.5 1.5 0 0 0 .962-1.4V5.11a1.5 1.5 0 0 0-.962-1.4l-3.461-1.33Zm2.514 2.915a.5.5 0 0 0-.646-.287l-2.766 1.064a.5.5 0 0 1-.359 0L9.554 5.008a.5.5 0 1 0-.359.933l2.766 1.064a1.5 1.5 0 0 0 1.077 0l2.766-1.064a.5.5 0 0 0 .287-.646Zm-5 5a.5.5 0 0 0-.646-.287L7.5 11.141l-2.946-1.133a.5.5 0 0 0-.359.934L7 12.02v2.49a.5.5 0 1 0 1 0v-2.49l2.804-1.079a.5.5 0 0 0 .287-.646ZM8.577 7.38a3 3 0 0 0-2.154 0L2.962 8.71A1.5 1.5 0 0 0 2 10.11v4.78a1.5 1.5 0 0 0 .962 1.4l3.46 1.332a3 3 0 0 0 2.155 0l3.461-1.331a1.5 1.5 0 0 0 .961-1.4v-4.78a1.5 1.5 0 0 0-.961-1.4L8.577 7.38Zm-1.795.933a2 2 0 0 1 1.436 0l3.461 1.331a.5.5 0 0 1 .32.467v4.78a.5.5 0 0 1-.32.466L8.218 16.69a2 2 0 0 1-1.436 0L3.32 15.357a.5.5 0 0 1-.32-.465v-4.78a.5.5 0 0 1 .32-.467l3.462-1.331Z"
                  ></path></svg
                >
              </div>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="text-lg title-font font-medium mb-2">多平台兼容</h2>
              <p class="text-base-content/90">
                我们产品支持跨多种平台，无论您使用何种设备，都能随时随地畅快体验我们的产品。
              </p>
              <a
                class="link link-primary link-hover mt-2 inline-flex items-center"
                href=""
                ><span></span>
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-2"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="p-4 md:w-1/3 flex">
            <div class="btn btn-circle btn-primary">
              <div class="w-6 h-6">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"
                  ><g
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><circle cx="2" cy="2" r="1.5"></circle><path d="M3.5 2h10"
                    ></path><circle cx="7" cy="7" r="1.5"></circle><path
                      d="M.5 7h5m3 0h5"></path><circle cx="12" cy="12" r="1.5"
                    ></circle><path d="M10.5 12H.5"></path></g
                  ></svg
                >
              </div>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="text-lg title-font font-medium mb-2">个性化定制</h2>
              <p class="text-base-content/90">
                提供丰富的个性化定制选项，满足不同用户的需求，确保每位用户都能找到最适合自己的产品配置。
              </p>
              <a
                class="link link-primary link-hover mt-2 inline-flex items-center"
                href=""
                ><span></span>
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-2"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="p-4 md:w-1/3 flex">
            <div class="btn btn-circle btn-primary">
              <div class="w-6 h-6">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                  ><g
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    ><ellipse cx="12" cy="6" rx="8" ry="3"></ellipse><path
                      d="M6.037 12C4.77 12.53 4 13.232 4 14c0 1.657 3.582 3 8 3s8-1.343 8-3c0-.768-.77-1.47-2.037-2"
                    ></path><path
                      d="M4 6v4c0 1.657 3.582 3 8 3s8-1.343 8-3V6M4 14v4c0 1.657 3.582 3 8 3s8-1.343 8-3v-4"
                    ></path></g
                  ></svg
                >
              </div>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="text-lg title-font font-medium mb-2">数据安全保障</h2>
              <p class="text-base-content/90">
                我们对用户的数据安全高度重视，采取多重安全措施保护用户隐私，确保数据不受未授权访问。
              </p>
              <a
                class="link link-primary link-hover mt-2 inline-flex items-center"
                href=""
                ><span></span>
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-2"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="p-4 md:w-1/3 flex">
            <div class="btn btn-circle btn-primary">
              <div class="w-6 h-6">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  ><path
                    fill="currentColor"
                    d="M10 0c5.523 0 10 4.477 10 10s-4.477 10-10 10S0 15.523 0 10S4.477 0 10 0Zm0 1.395a8.605 8.605 0 1 0 0 17.21a8.605 8.605 0 0 0 0-17.21Zm2.048 2.093a6.702 6.702 0 0 1 1.802 1.024c.125.096.245.198.363.307c.022.019.041.039.062.06c.328.303.626.644.89 1.01c.037.051.076.098.11.147c.064.094.124.192.184.29a6.024 6.024 0 0 1 .285.51c.053.1.1.209.149.315c.033.073.07.148.1.226c.073.182.138.365.197.552c.019.062.034.128.052.19a6.726 6.726 0 0 1 .215 1.087c.007.066.017.136.022.201c.02.215.033.432.033.65a7.186 7.186 0 0 1-.117 1.27c-.014.073-.026.147-.04.217c-.04.19-.086.376-.14.56c-.509-.233-1.107-.576-1.263-.953c-.284-.68-1.04-1.02-1.348-1.896c-.507-1.45.166-1.412.26-2.312c.044-.422-.26-.51-.661-.338c-.936.393-1.253.242-1.442-.463c-.189-.703 0-.899 0-.899c-.638.07-.662-.707-.331-.903c.23-.132.425-.537.618-.852ZM9.374 7.797c.59-.27 1.135-.367 1.063-.831c-.07-.459-.236-.801-1.158-.801c-.922 0-.52 1.265-1.276.51c-.756-.75.165-.556.543-.727c.379-.172.757-.877.095-.927c-.661-.047-.52.292-1.04.1c-.52-.196-.756.679-1.088.557c-.218-.082-.803-.532-1.191-.975a7 7 0 0 0-1.834 2.51c.113 1.307.804 1.993.804 1.993s.355.851 2.483 1.897c0 0 .4.024-.072-.461c-.472-.487-.993-1.095-.402-1.41c.59-.319.757-.292.899.293c.141.584.615.24.661-.319c.048-.557.922-1.14 1.513-1.41Zm-.45 2.94c1.018 0 .923.317 1.727 1.025c.803.704.378 1.409-.025 1.945c-.401.534-.756 1.14-.945 2.238c-.19 1.094-.686.314-.85.047c-.166-.269-.426-.511-.354-1.63c.07-1.118-.687-.46-.946-1.92c-.26-1.458.378-1.704 1.394-1.704Zm4.977.964c.271-.173.92.278.78.753c-.143.475-.591.207-.816 0c-.225-.206-.237-.583.036-.753Z"
                  ></path></svg
                >
              </div>
            </div>
            <div class="flex-grow pl-6">
              <h2 class="text-lg title-font font-medium mb-2">全球化服务</h2>
              <p class="text-base-content/90">
                以全球化的视野，我们产品覆盖全球多个国家，提供多语言、多地域的服务，让用户无障碍畅享产品。
              </p>
              <a
                class="link link-primary link-hover mt-2 inline-flex items-center"
                href=""
                ><span></span>
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-2"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section id="step" class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1 class="sm:text-3xl text-2xl font-medium mb-4">轻松上手</h1>
          <p
            class="lg:w-2/3 mx-auto text-base text-base-content/90 whitespace-break-spaces"
          >
            不论你是新手还是经验丰富的用户，我们的引导将带你穿越每个关键步骤，让你在短时间内轻松上手。开始你的探索之旅，尽情享受应用带来的便捷和乐趣！
          </p>
        </div>
        <div class="flex flex-wrap w-full" x-data="{ tab: 1 }">
          <div
            class="lg:w-2/5 md:w-1/2 md:pr-10 h-full max-h-screen overflow-y-auto"
          >
            <ul class="steps steps-vertical">
              <li
                class="step cursor-pointer"
                x-bind:class="{ 'step-primary': tab === 1 }"
                x-on:click="tab = 1"
              >
                <div class="text-start py-4">
                  <div class="text-lg">注册与登录</div>
                  <div class="text-base-content/80 mt-2">
                    进入官网，点击"注册"按钮，填写个人信息完成注册。若已有账户，点击"登录"并输入凭证。
                  </div>
                </div>
              </li>
              <li
                class="step cursor-pointer"
                x-bind:class="{ 'step-primary': tab === 2 }"
                x-on:click="tab = 2"
              >
                <div class="text-start py-4">
                  <div class="text-lg">浏览产品</div>
                  <div class="text-base-content/80 mt-2">
                    在首页浏览不同产品，点击感兴趣的产品卡片，进入产品页面。
                  </div>
                </div>
              </li>
              <li
                class="step cursor-pointer"
                x-bind:class="{ 'step-primary': tab === 3 }"
                x-on:click="tab = 3"
              >
                <div class="text-start py-4">
                  <div class="text-lg">个性化定制</div>
                  <div class="text-base-content/80 mt-2">
                    在产品页面，根据需求进行个性化定制，选择适合您的配置选项。
                  </div>
                </div>
              </li>
              <li
                class="step cursor-pointer step-primary"
                x-bind:class="{ 'step-primary': tab === 4 }"
                x-on:click="tab = 4"
              >
                <div class="text-start py-4">
                  <div class="text-lg">体验产品</div>
                  <div class="text-base-content/80 mt-2">
                    确定个性化配置后，点击"体验"或"开始"按钮，立即畅享我们的产品和服务。
                  </div>
                </div>
              </li>
              <li
                class="step cursor-pointer"
                x-bind:class="{ 'step-primary': tab === 5 }"
                x-on:click="tab = 5"
              >
                <div class="text-start py-4">
                  <div class="text-lg">获取支持与帮助</div>
                  <div class="text-base-content/80 mt-2">
                    如有任何疑问或需要帮助，可点击页面右下角的"帮助"按钮，联系我们的客户支持团队。
                  </div>
                </div>
              </li>
              <li
                class="step cursor-pointer"
                x-bind:class="{ 'step-primary': tab === 6 }"
                x-on:click="tab = 6"
              >
                <div class="text-start py-4">
                  <div class="text-lg">参与社区互动</div>
                  <div class="text-base-content/80 mt-2">
                    探索网站中的社区板块，参与讨论、分享体验，与其他用户交流互动。
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <img
            loading="lazy"
            class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg"
            src="/img/signup.jpg"
            alt="step"
            x-show="tab === 1"
            style="display: none;"
          /><img
            loading="lazy"
            class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg"
            src="/img/browse.jpg"
            alt="step"
            x-show="tab === 2"
            style="display: none;"
          /><img
            loading="lazy"
            class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg"
            src="/img/customization.jpg"
            alt="step"
            x-show="tab === 3"
            style="display: none;"
          /><img
            loading="lazy"
            class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg"
            src="/img/demo.jpg"
            alt="step"
            x-show="tab === 4"
          /><img
            loading="lazy"
            class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg"
            src="/img/support.jpg"
            alt="step"
            x-show="tab === 5"
            style="display: none;"
          /><img
            loading="lazy"
            class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg"
            src="/img/community.jpg"
            alt="step"
            x-show="tab === 6"
            style="display: none;"
          />
        </div>
      </section>
      <section id="team" class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1 class="sm:text-3xl text-2xl font-medium mb-4">我们的团队</h1>
          <p
            class="lg:w-2/3 mx-auto text-base text-base-content/90 whitespace-break-spaces"
          >
            我们是一支充满创意与激情的软件创业团队，致力于为用户提供创新、实用的解决方案。我们将技术与设计相结合，打造出用户友好、高效的产品，满足您的需求。
          </p>
        </div>
        <div class="flex flex-wrap -m-4">
          <div class="p-4 lg:w-1/2">
            <div
              class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
            >
              <img
                loading="lazy"
                alt="team"
                class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
                src="https://api.dicebear.com/7.x/notionists/svg?seed=天宇星"
              />
              <div class="flex-grow sm:pl-8">
                <h2 class="title-font font-medium text-lg">天宇星</h2>
                <h3 class="text-base-content/60 mb-3">创始人兼首席执行官</h3>
                <p class="text-base-content/80 mb-4">
                  作为团队的创始人，天宇星是我们的领导者，他具有丰富的创意和领导力，致力于将我们的愿景变为现实。
                </p>
                <span class="inline-flex"> </span>
              </div>
            </div>
          </div>
          <div class="p-4 lg:w-1/2">
            <div
              class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
            >
              <img
                loading="lazy"
                alt="team"
                class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
                src="https://api.dicebear.com/7.x/notionists/svg?seed=瑞心蕾"
              />
              <div class="flex-grow sm:pl-8">
                <h2 class="title-font font-medium text-lg">瑞心蕾</h2>
                <h3 class="text-base-content/60 mb-3">首席技术官</h3>
                <p class="text-base-content/80 mb-4">
                  技术领袖，拥有深厚的技术背景和多年研发经验，致力于推动技术创新，实现产品的技术突破。
                </p>
                <span class="inline-flex"> </span>
              </div>
            </div>
          </div>
          <div class="p-4 lg:w-1/2">
            <div
              class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
            >
              <img
                loading="lazy"
                alt="team"
                class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
                src="https://api.dicebear.com/7.x/notionists/svg?seed=雨竹青"
              />
              <div class="flex-grow sm:pl-8">
                <h2 class="title-font font-medium text-lg">雨竹青</h2>
                <h3 class="text-base-content/60 mb-3">首席设计师</h3>
                <p class="text-base-content/80 mb-4">
                  富有创意的设计师，追求卓越的产品设计和用户体验，通过独特的设计语言创造愉悦的用户界面。
                </p>
                <span class="inline-flex"> </span>
              </div>
            </div>
          </div>
          <div class="p-4 lg:w-1/2">
            <div
              class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
            >
              <img
                loading="lazy"
                alt="team"
                class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
                src="https://api.dicebear.com/7.x/notionists/svg?seed=浩然"
              />
              <div class="flex-grow sm:pl-8">
                <h2 class="title-font font-medium text-lg">浩然</h2>
                <h3 class="text-base-content/60 mb-3">产品经理</h3>
                <p class="text-base-content/80 mb-4">
                  产品规划和管理专家，以敏锐的市场嗅觉洞察用户需求，努力打造切实符合用户期待的产品体验。
                </p>
                <span class="inline-flex"> </span>
              </div>
            </div>
          </div>
          <div class="p-4 lg:w-1/2">
            <div
              class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
            >
              <img
                loading="lazy"
                alt="team"
                class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
                src="https://api.dicebear.com/7.x/notionists/svg?seed=玉琳"
              />
              <div class="flex-grow sm:pl-8">
                <h2 class="title-font font-medium text-lg">玉琳</h2>
                <h3 class="text-base-content/60 mb-3">营销总监</h3>
                <p class="text-base-content/80 mb-4">
                  营销专家，制定全面市场营销策略，深谙用户心理，将产品推向市场并建立品牌影响力。
                </p>
                <span class="inline-flex"> </span>
              </div>
            </div>
          </div>
          <div class="p-4 lg:w-1/2">
            <div
              class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
            >
              <img
                loading="lazy"
                alt="team"
                class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
                src="https://api.dicebear.com/7.x/notionists/svg?seed=星光"
              />
              <div class="flex-grow sm:pl-8">
                <h2 class="title-font font-medium text-lg">星光</h2>
                <h3 class="text-base-content/60 mb-3">客户支持经理</h3>
                <p class="text-base-content/80 mb-4">
                  客户关怀专家，以优秀的沟通和问题解决能力确保客户满意度，为用户提供及时有效的支持与帮助。
                </p>
                <span class="inline-flex"> </span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="testimonial" class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1 class="sm:text-3xl text-2xl font-medium mb-4">用户评价</h1>
          <p
            class="lg:w-2/3 mx-auto text-base text-base-content/90 whitespace-break-spaces"
          >
            无论你是在寻找灵感、有趣的故事，还是实用的建议，我们的用户推荐部分都是一个充满活力和创意的空间，等待你的加入。加入我们的社区，共同构建一个充满分享和启发的网络空间。
          </p>
        </div>
        <div class="flex flex-wrap -m-4">
          <div class="p-4 md:w-1/2 w-full">
            <div class="h-full bg-base-300 p-8 rounded">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="block w-5 h-5 mb-4"
                viewBox="0 0 975.036 975.036"
              >
                <path
                  d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"
                ></path>
              </svg>
              <p class="text-base-content/90 mb-6">
                这款产品真是数字营销的福音！多平台兼容、个性化定制让我能精准触达目标受众，极大提升了广告转化率。创新设计和出色用户体验更让我爱不释手。
              </p>
              <a class="inline-flex items-center">
                <img
                  loading="lazy"
                  alt="testimonial"
                  src="https://api.dicebear.com/7.x/notionists/svg?seed=Sophia_Wu"
                  class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center"
                />
                <span class="flex-grow flex flex-col pl-4">
                  <span class="title-font font-medium">Sophia_Wu</span>
                  <span class="text-base-content/80 text-sm">数字营销经理</span>
                </span>
              </a>
            </div>
          </div>
          <div class="p-4 md:w-1/2 w-full">
            <div class="h-full bg-base-300 p-8 rounded">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="block w-5 h-5 mb-4"
                viewBox="0 0 975.036 975.036"
              >
                <path
                  d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"
                ></path>
              </svg>
              <p class="text-base-content/90 mb-6">
                这款产品真是前沿科技的代表，创新先导，功能强大。个性化定制让我感觉每个功能都是为我量身打造。无处不在的创新体验，让我对未来充满了更多期待。
              </p>
              <a class="inline-flex items-center">
                <img
                  loading="lazy"
                  alt="testimonial"
                  src="https://api.dicebear.com/7.x/notionists/svg?seed=TechEnthusiast21"
                  class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center"
                />
                <span class="flex-grow flex flex-col pl-4">
                  <span class="title-font font-medium">TechEnthusiast21</span>
                  <span class="text-base-content/80 text-sm">科技爱好者</span>
                </span>
              </a>
            </div>
          </div>
          <div class="p-4 md:w-1/2 w-full">
            <div class="h-full bg-base-300 p-8 rounded">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="block w-5 h-5 mb-4"
                viewBox="0 0 975.036 975.036"
              >
                <path
                  d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"
                ></path>
              </svg>
              <p class="text-base-content/90 mb-6">
                这款产品是我旅行的得力助手！多国语言支持，全球覆盖，为我提供了最准确的导航和周到的建议。无论身在何处，都能轻松享受旅途的乐趣。
              </p>
              <a class="inline-flex items-center">
                <img
                  loading="lazy"
                  alt="testimonial"
                  src="https://api.dicebear.com/7.x/notionists/svg?seed=TravelExplorer"
                  class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center"
                />
                <span class="flex-grow flex flex-col pl-4">
                  <span class="title-font font-medium">TravelExplorer</span>
                  <span class="text-base-content/80 text-sm">旅行作家</span>
                </span>
              </a>
            </div>
          </div>
          <div class="p-4 md:w-1/2 w-full">
            <div class="h-full bg-base-300 p-8 rounded">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="block w-5 h-5 mb-4"
                viewBox="0 0 975.036 975.036"
              >
                <path
                  d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"
                ></path>
              </svg>
              <p class="text-base-content/90 mb-6">
                这款产品是我日常健身的得力助手！创新设计让我可以制定更科学、高效的健身方案。数据安全保障让我能安心记录用户信息。它是健康生活推广的不可或缺之选。
              </p>
              <a class="inline-flex items-center">
                <img
                  loading="lazy"
                  alt="testimonial"
                  src="https://api.dicebear.com/7.x/notionists/svg?seed=FitnessFreak82"
                  class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center"
                />
                <span class="flex-grow flex flex-col pl-4">
                  <span class="title-font font-medium">FitnessFreak82</span>
                  <span class="text-base-content/80 text-sm">健身教练</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section
        id="contact"
        class="container px-5 my-24 mx-auto relative max-h-screen"
      >
        <div class="absolute inset-0 bg-base-100">
          <iframe
            class="overflow-hidden border-none m-0 h-full w-full"
            title="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060.1387582832504!2d116.45784537595841!3d39.9159108715245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f1acfc2b1e2765%3A0xbd2c8dfbc11604e1!2z5Lit5Zu95YyX5Lqs5biC5pyd6Ziz5Yy65Yqy5p2-5YyX5Lqs6LSi5a-M5Lit5b-D5YaZ5a2X5qW877yh5bqnIOmCruaUv-e8lueggTogMTAwMDIw!5e0!3m2!1szh-CN!2shk!4v1695370017346!5m2!1szh-CN!2shk"
            style="filter: grayscale(1) contrast(1.2) opacity(0.4)"></iframe>
        </div>
        <div class="container px-5 py-24 mx-auto flex">
          <div
            class="lg:w-1/3 md:w-1/2 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md bg-base-100"
          >
            <h2 class="text-lg mb-1 font-medium title-font">Feedback</h2>
            <p class="leading-relaxed mb-5 text-base-content/80">
              Post-ironic portland shabby chic echo park, banjo fashion axe
            </p>
            <div class="relative mb-4">
              <label for="email" class="label label-text text-sm">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="w-full input input-bordered"
              />
            </div>
            <div class="relative mb-4">
              <label for="message" class="label label-text text-sm"
                >Message</label
              >
              <textarea
                id="message"
                name="message"
                class="w-full textarea textarea-bordered"></textarea>
            </div>
            <button class="btn btn-primary">提交</button>
            <p class="text-xs text-base-content/80 mt-3">
              Chicharrones blog helvetica normcore iceland tousled brook viral
              artisan.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <script>
    import Swiper from "swiper";
    new Swiper(".swiper-container");
  </script>
</Layout>
