---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---
<Layout title="Welcome to Astro.">
    <div class="min-h-screen flex flex-col">
        <div class="top">
          <Header />
        </div>
        <div class="flex-1 flex flex-col items-center">
            <div class="flex justify-center">
                <h1 class="text-4xl font-bold">dotfox授权查询</h1>
            </div>
            <div class="flex justify-center mt-20">
                <label class="input input-bordered flex items-center gap-2">
                    <input type="text" class="grow" placeholder="Search" />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 16 16"
                      fill="currentColor"
                      class="h-4 w-4 opacity-70">
                      <path
                        fill-rule="evenodd"
                        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                        clip-rule="evenodd" />
                    </svg>
                  </label>
                  <button class="btn btn-primary">查询</button>
            </div>
            <div class="join mt-20">
                <button class="join-item btn">1</button>
                <button class="join-item btn btn-active">2</button>
                <button class="join-item btn">3</button>
                <button class="join-item btn">4</button>
              </div>
        </div>
    </div>
</Layout>